* {
  font-family: "Robot", "Helvetica", "Arial", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-weight: bold;
}

#game-board {
  display: none;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  border: 1px solid black;
  grid-gap: 1px;
  background-color: black;
}

.game-square {
  background-color: white;
  padding: 15px;
  text-align: center;
}

.hide {
  display: none;
}
