* {
  font-family: "Robot", "Helvetica", "Arial", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-weight: bold;
}

#game-board {
  display: none;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
}

.game-square {
  border: 1px solid black;
}

.hide {
  display: none;
}
